In [55]:
import pandas as pd
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [56]:
#Read in data
df = pd.read_csv('responses.csv')
df.shape

(1010, 150)

In [57]:
#This is our target parameter
phobia = df[['Public speaking']]
phobia.isna().sum()

Public speaking    2
dtype: int64

In [58]:
#Some music features
music = df[['Music', 'Classical music', 'Rock', 'Opera', 'Swing, Jazz']]

In [59]:
music.head()

   Music  Classical music  Rock  Opera  Swing, Jazz
0    5.0              2.0   5.0    1.0          1.0
1    4.0              1.0   5.0    1.0          1.0
2    5.0              4.0   5.0    3.0          3.0
3    5.0              1.0   2.0    1.0          1.0
4    5.0              4.0   3.0    2.0          2.0

In [60]:
#Let's see how many nulls we have
music.isna().sum()

Music              3
Classical music    7
Rock               6
Opera              1
Swing, Jazz        6
dtype: int64

In [61]:
music[music.isna().any(axis = 1)]

     Music  Classical music  Rock  Opera  Swing, Jazz
22     5.0              3.0   NaN    2.0          1.0
91     5.0              NaN   5.0    1.0          1.0
103    5.0              NaN   1.0    4.0          4.0
107    5.0              2.0   4.0    NaN          4.0
164    5.0              3.0   NaN    2.0          4.0
167    3.0              NaN   4.0    2.0          3.0
226    5.0              NaN   5.0    1.0          2.0
243    NaN              4.0   5.0    2.0          4.0
347    5.0              2.0   4.0    1.0          NaN
362    5.0              4.0   5.0    4.0          NaN
424    5.0              2.0   NaN    1.0          4.0
441    5.0              2.0   NaN    1.0          1.0
484    5.0              2.0   4.0    2.0          NaN
487    5.0              1.0   1.0    1.0          NaN
524    5.0              4.0   5.0    3.0          NaN
558    NaN              2.0   2.0    2.0          2.0
643    5.0              NaN   5.0    4.0          3.0
756    5.0              NaN   5.0    2.0          3.0
842    NaN              3.0   5.0    1.0          2.0
868    5.0              2.0   NaN    2.0          2.0
887    4.0              NaN   5.0    2.0          2.0
918    4.0              2.0   5.0    3.0          NaN
943    4.0              5.0   NaN    2.0          4.0

In [62]:
#We don't have so many nulls so let's fill with the avg
music = music.fillna(music.mean())
music.loc[643]

Music              5.000000
Classical music    2.956132
Rock               5.000000
Opera              4.000000
Swing, Jazz        3.000000
Name: 643, dtype: float64

In [63]:
#Let's repeat for movies. 
movies = df[['Movies', 'Thriller', 'Comedy', 'Documentary', 'Fantasy/Fairy tales', 'Action']]

In [64]:
movies.head()

   Movies  Thriller  Comedy  Documentary  Fantasy/Fairy tales  Action
0     5.0       2.0     5.0          3.0                  5.0     2.0
1     5.0       2.0     4.0          4.0                  3.0     4.0
2     5.0       4.0     4.0          2.0                  5.0     1.0
3     5.0       4.0     3.0          5.0                  1.0     2.0
4     5.0       4.0     5.0          3.0                  4.0     4.0

In [65]:
movies.isna().sum()

Movies                 6
Thriller               1
Comedy                 3
Documentary            8
Fantasy/Fairy tales    3
Action                 2
dtype: int64

In [66]:
movies = movies.fillna(movies.mean())

In [67]:
#Let's repeat the process with hobbies
hobbies = df[['Art exhibitions', 'Science and technology', 'Religion', 'Countryside, outdoors', 'Fun with friends','Dancing', 'Law', 'Musical instruments', 'Prioritising workload','Writing notes', 'Funniness', 'Fake', 'Decision making', 'Empathy', 'Judgment calls','Loneliness','Number of friends','Appearence and gestures']]

In [68]:
hobbies.head()

,Art exhibitions,Science and technology,Religion,"Countryside, outdoors",Fun with friends,Dancing,Law,Musical instruments,Prioritising workload,Writing notes,Funniness,Fake,Decision making,Empathy,Judgment calls,Loneliness,Number of friends,Appearence and gestures
0,1.0,4.0,1.0,5.0,5.0,3.0,1.0,3.0,2.0,5.0,5.0,1.0,3.0,3.0,3.0,3.0,3,4.0
1,2.0,3.0,1.0,1.0,4.0,1.0,2.0,1.0,2.0,4.0,3.0,2.0,2.0,2.0,4.0,2.0,3,4.0
2,5.0,2.0,5.0,5.0,5.0,5.0,3.0,5.0,2.0,5.0,2.0,4.0,3.0,5.0,4.0,5.0,3,3.0
3,5.0,3.0,4.0,1.0,2.0,1.0,5.0,1.0,4.0,4.0,1.0,1.0,5.0,3.0,4.0,5.0,1,3.0
4,1.0,3.0,4.0,4.0,4.0,1.0,2.0,3.0,1.0,2.0,3.0,2.0,3.0,3.0,5.0,3.0,3,3.0

In [69]:
hobbies.isna().sum()

Art exhibitions            6
Science and technology     6
Religion                   3
Countryside, outdoors      7
Fun with friends           4
Dancing                    3
Law                        1
Musical instruments        1
Prioritising workload      5
Writing notes              3
Funniness                  4
Fake                       1
Decision making            4
Empathy                    5
Judgment calls             4
Loneliness                 1
Number of friends          0
Appearence and gestures    3
dtype: int64

In [70]:
hobbies = hobbies.fillna(3)
hobbies.isna().sum()

Art exhibitions            0
Science and technology     0
Religion                   0
Countryside, outdoors      0
Fun with friends           0
Dancing                    0
Law                        0
Musical instruments        0
Prioritising workload      0
Writing notes              0
Funniness                  0
Fake                       0
Decision making            0
Empathy                    0
Judgment calls             0
Loneliness                 0
Number of friends          0
Appearence and gestures    0
dtype: int64

In [71]:
#Let's repeat with lifeviews
life_views = df[['Personality', 'Assertiveness', 'Workaholism', 'Healthy eating', 'Thinking ahead']]

In [72]:
life_views.head()

   Personality  Assertiveness  Workaholism  Healthy eating  Thinking ahead
0          4.0            1.0          4.0             4.0             2.0
1          3.0            2.0          5.0             3.0             4.0
2          3.0            3.0          3.0             3.0             5.0
3          2.0            5.0          5.0             3.0             3.0
4          3.0            4.0          3.0             4.0             5.0

In [73]:
life_views.isna().sum()

Personality       4
Assertiveness     2
Workaholism       5
Healthy eating    3
Thinking ahead    3
dtype: int64

In [74]:
life_views = life_views.fillna(life_views.mean())

In [75]:
spending = df[['Finances', 'Spending on looks']]

In [76]:
spending.head()

   Finances  Spending on looks
0       3.0                3.0
1       3.0                2.0
2       2.0                3.0
3       2.0                4.0
4       4.0                3.0

In [77]:
spending.isna().sum()

Finances             3
Spending on looks    3
dtype: int64

In [78]:
spending = spending.fillna(spending.mean())
spending.head()

   Finances  Spending on looks
0       3.0                3.0
1       3.0                2.0
2       2.0                3.0
3       2.0                4.0
4       4.0                3.0

In [79]:
demographics = df[['Age', 'Weight', 'Number of siblings', 'Education']]

In [80]:
demographics.isna().sum()

Age                    7
Weight                20
Number of siblings     6
Education              1
dtype: int64

In [81]:
demographics = demographics.fillna(demographics.mean())

In [82]:
demographics.head()

    Age  Weight  Number of siblings                Education
0  20.0    48.0                 1.0  college/bachelor degree
1  19.0    58.0                 2.0  college/bachelor degree
2  20.0    67.0                 2.0         secondary school
3  22.0    59.0                 1.0  college/bachelor degree
4  20.0    59.0                 1.0         secondary school

In [83]:

#Make it easier to add features later
adds = df[['Spending on gadgets', 'Height']]
adds= adds.fillna(adds.mean())

In [84]:
features = pd.concat([phobia, movies, music,hobbies, life_views, spending, demographics, adds], axis = 1 )

In [85]:
features.shape

(1010, 43)

In [86]:
features.fillna(features.mean())

,Public speaking,Movies,Thriller,Comedy,Documentary,Fantasy/Fairy tales,Action,Music,Classical music,Rock,...,Healthy eating,Thinking ahead,Finances,Spending on looks,Age,Weight,Number of siblings,Education,Spending on gadgets,Height
0,5.000000,5.0,2.0,5.0,3.0,5.0,2.0,5.0,2.0,5.000000,...,4.0,2.0,3.0,3.0,20.0,48.0,1.0,college/bachelor degree,1,163.0
1,4.000000,5.0,2.0,4.0,4.0,3.0,4.0,4.0,1.0,5.000000,...,3.0,4.0,3.0,2.0,19.0,58.0,2.0,college/bachelor degree,5,163.0
2,2.000000,5.0,4.0,4.0,2.0,5.0,1.0,5.0,4.0,5.000000,...,3.0,5.0,2.0,3.0,20.0,67.0,2.0,secondary school,4,176.0
3,5.000000,5.0,4.0,3.0,5.0,1.0,2.0,5.0,1.0,2.000000,...,3.0,3.0,2.0,4.0,22.0,59.0,1.0,college/bachelor degree,4,172.0
4,5.000000,5.0,4.0,5.0,3.0,4.0,4.0,5.0,4.0,3.000000,...,4.0,5.0,4.0,3.0,20.0,59.0,1.0,secondary school,2,170.0
5,4.000000,5.0,5.0,5.0,3.0,4.0,4.0,5.0,3.0,5.000000,...,2.0,3.0,2.0,1.0,20.0,77.0,1.0,secondary school,4,186.0
6,3.000000,4.0,1.0,5.0,3.0,5.0,2.0,5.0,2.0,3.000000,...,4.0,3.0,4.0,4.0,20.0,50.0,1.0,secondary school,1,177.0
7,5.000000,5.0,4.0,5.0,3.0,4.0,3.0,5.0,2.0,5.000000,...,2.0,4.0,3.0,4.0,19.0,90.0,1.0,college/bachelor degree,3,184.0
8,4.000000,5.0,5.0,5.0,5.0,4.0,1.0,5.0,2.0,5.000000,...,1.0,2.0,2.0,1.0,18.0,55.0,1.0,secondary school,3,166.0
9,5.000000,5.0,1.0,5.0,4.0,4.0,2.0,5.0,2.0,5.000000,...,3.0,3.0,4.0,3.0,19.0,60.0,3.0,secondary school,2,174.0
10,3.000000,5.0,4.0,5.0,3.0,5.0,3.0,5.0,2.0,3.000000,...,3.0,3.0,2.0,4.0,19.0,60.0,2.0,secondary school,2,175.0
11,5.000000,5.0,4.0,4.0,5.0,5.0,4.0,5.0,4.0,5.000000,...,3.0,1.0,2.0,1.0,17.0,60.0,1.0,primary school,1,176.0
12,3.000000,5.0,5.0,4.0,3.0,5.0,1.0,5.0,4.0,5.000000,...,3.0,5.0,4.0,3.0,24.0,55.0,10.0,college/bachelor degree,2,168.0
13,5.000000,5.0,2.0,5.0,2.0,5.0,3.0,5.0,1.0,2.000000,...,3.0,3.0,3.0,4.0,19.0,55.0,1.0,secondary school,3,165.0
14,3.000000,4.0,3.0,5.0,3.0,5.0,4.0,5.0,2.0,5.000000,...,1.0,5.0,5.0,5.0,22.0,57.0,1.0,college/bachelor degree,1,175.0
15,3.000000,5.0,5.0,5.0,5.0,4.0,4.0,1.0,4.0,5.000000,...,5.0,3.0,3.0,3.0,18.0,77.0,0.0,secondary school,5,177.0
16,4.000000,5.0,3.0,5.0,4.0,2.0,2.0,5.0,1.0,4.000000,...,3.0,5.0,3.0,3.0,19.0,65.0,2.0,college/bachelor degree,3,175.0
17,3.000000,5.0,2.0,5.0,5.0,4.0,3.0,5.0,2.0,4.000000,...,3.0,4.0,1.0,2.0,20.0,65.0,1.0,secondary school,2,168.0
18,5.000000,5.0,4.0,5.0,5.0,4.0,5.0,5.0,4.0,4.000000,...,4.0,5.0,4.0,4.0,18.0,78.0,2.0,secondary school,5,181.0
19,3.000000,3.0,4.0,4.0,5.0,4.0,5.0,5.0,4.0,4.000000,...,3.0,4.0,2.0,3.0,18.0,90.0,1.0,secondary school,3,188.0
20,3.000000,5.0,5.0,5.0,3.0,3.0,4.0,5.0,4.0,5.000000,...,2.0,2.0,2.0,2.0,20.0,77.0,1.0,secondary school,4,186.0
21,1.000000,5.0,5.0,5.0,5.0,3.0,5.0,5.0,2.0,5.000000,...,3.0,2.0,2.0,1.0,24.0,85.0,1.0,secondary school,2,186.0
22,3.000000,5.0,3.0,5.0,5.0,4.0,3.0,5.0,3.0,3.761952,...,3.0,3.0,5.0,2.0,22.0,70.0,1.0,college/bachelor degree,4,167.0
23,3.000000,5.0,4.0,5.0,3.0,5.0,2.0,5.0,2.0,5.000000,...,3.0,3.0,2.0,4.0,20.0,54.0,3.0,secondary school,2,168.0
24,5.000000,5.0,2.0,5.0,3.0,2.0,4.0,5.0,4.0,5.000000,...,4.0,5.0,3.0,5.0,19.0,51.0,1.0,secondary school,5,167.0
25,4.000000,5.0,2.0,5.0,3.0,4.0,1.0,5.0,2.0,1.000000,...,3.0,4.0,2.0,3.0,20.0,56.0,1.0,secondary school,1,170.0
26,5.000000,5.0,2.0,5.0,5.0,5.0,1.0,5.0,5.0,4.000000,...,3.0,5.0,5.0,4.0,22.0,63.0,1.0,college/bachelor degree,4,165.0
27,4.000000,5.0,4.0,3.0,5.0,2.0,5.0,4.0,3.0,4.000000,...,4.0,3.0,3.0,3.0,19.0,50.0,1.0,secondary school,2,163.0
28,4.000000,5.0,3.0,5.0,3.0,4.0,4.0,5.0,1.0,4.000000,...,5.0,4.0,3.0,4.0,20.0,80.0,2.0,secondary school,1,187.0
29,5.000000,5.0,2.0,5.0,4.0,5.0,2.0,5.0,3.0,4.000000,...,3.0,5.0,4.0,3.0,19.0,60.0,2.0,secondary school,2,168.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,1.000000,5.0,5.0,3.0,3.0,2.0,3.0,5.0,5.0,4.000000,...,1.0,4.0,1.0,2.0,18.0,53.0,2.0,secondary school,4,166.0
981,5.000000,5.0,5.0,4.0,2.0,3.0,3.0,5.0,5.0,4.000000,...,2.0,4.0,5.0,2.0,19.0,57.0,1.0,secondary school,2,168.0
982,3.000000,4.0,1.0,4.0,2.0,2.0,3.0,5.0,3.0,4.000000,...,1.0,3.0,2.0,4.0,18.0,70.0,2.0,secondary school,3,178.0
983,2.000000,5.0,2.0,5.0,1.0,5.0,2.0,5.0,3.0,3.000000,...,3.0,2.0,2.0,4.0,22.0,60.0,2.0,secondary school,3,172.0
984,3.521825,4.0,2.0,3.0,3.0,3.0,2.0,5.0,3.0,4.000000,...,1.0,1.0,4.0,1.0,21.0,55.0,1.0,secondary school,4,165.0
985,3.000000,5.0,4.0,4.0,1.0,4.0,2.0,5.0,4.0,5.000000,...,2.0,3.0,5.0,3.0,20.0,53.0,1.0,secondary school,3,167.0
986,2.000000,4.0,1.0,3.0,5.0,4.0,1.0,4.0,5.0,4.000000,...,2.0,2.0,1.0,1.0,19.0,60.0,3.0,secondary school,1,161.0
987,5.000000,4.0,4.0,3.0,4.0,2.0,2.0,4.0,2.0,5.000000,...,3.0,2.0,3.0,2.0,20.0,80.0,1.0,secondary school,4,184.0
988,1.000000,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.000000,...,4.0,5.0,1.0,5.0,19.0,70.0,0.0,secondary school,5,183.0
989,1.000000,3.0,1.0,5.0,3.0,5.0,3.0,5.0,4.0,5.000000,...,5.0,5.0,3.0,3.0,30.0,54.0,2.0,masters degree,1,168.0
990,2.000000,5.0,4.0,5.0,5.0,2.0,4.0,5.0,2.0,4.000000,...,2.0,2.0,1.0,3.0,29.0,93.0,1.0,secondary school,4,180.0
991,4.000000,5.0,5.0,4.0,4.0,1.0,5.0,5.0,1.0,5.000000,...,1.0,2.0,3.0,2.0,21.0,80.0,0.0,secondary school,3,172.0
992,5.000000,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.000000,...,1.0,3.0,1.0,1.0,30.0,150.0,1.0,masters degree,1,200.0
993,5.000000,5.0,1.0,5.0,2.0,5.0,2.0,5.0,3.0,4.000000,...,3.0,4.0,4.0,3.0,21.0,55.0,0.0,secondary school,4,173.0
994,4.000000,5.0,3.0,3.0,5.0,5.0,3.0,5.0,3.0,5.000000,...,3.0,3.0,3.0,4.0,20.0,78.0,0.0,secondary school,3,176.0
995,3.000000,5.0,5.0,4.0,4.0,3.0,4.0,5.0,1.0,4.000000,...,4.0,4.0,4.0,2.0,18.0,53.0,0.0,secondary school,2,163.0
996,5.000000,3.0,4.0,4.0,3.0,3.0,4.0,5.0,3.0,4.000000,...,4.0,5.0,3.0,3.0,20.0,74.0,0.0,secondary school,3,190.0
997,2.000000,4.0,3.0,5.0,3.0,5.0,3.0,5.0,1.0,4.000000,...,3.0,2.0,3.0,2.0,19.0,53.0,1.0,secondary school,2,167.0
998,4.000000,5.0,5.0,5.0,4.0,4.0,5.0,5.0,3.0,5.000000,...,3.0,4.0,4.0,3.0,28.0,105.0,1.0,masters degree,2,192.0
999,3.000000,4.0,3.0,5.0,5.0,3.0,5.0,5.0,5.0,4.000000,...,4.0,4.0,3.0,2.0,19.0,70.0,1.0,secondary school,3,181.0
1000,4.000000,5.0,5.0,5.0,3.0,5.0,2.0,5.0,3.0,3.000000,...,5.0,3.0,1.0,5.0,16.0,62.0,1.0,primary school,4,153.0
1001,4.000000,3.0,3.0,5.0,2.0,3.0,3.0,5.0,1.0,3.000000,...,4.0,2.0,2.0,5.0,18.0,63.0,2.0,primary school,2,160.0
1002,3.000000,3.0,4.0,3.0,2.0,2.0,3.0,5.0,1.0,5.000000,...,2.0,2.0,4.0,1.0,22.0,72.0,1.0,secondary school,3,181.0
1003,3.000000,5.0,4.0,5.0,4.0,3.0,4.0,4.0,2.0,5.000000,...,3.0,4.0,3.0,3.0,20.0,63.0,1.0,secondary school,4,172.0
1004,4.000000,5.0,4.0,5.0,3.0,4.0,3.0,5.0,3.0,3.000000,...,3.0,4.0,4.0,4.0,22.0,60.0,1.0,secondary school,4,175.0
1005,5.000000,5.0,3.0,4.0,2.0,5.0,4.0,5.0,5.0,4.000000,...,3.0,2.0,3.0,4.0,20.0,57.0,1.0,secondary school,3,164.0
1006,5.000000,5.0,5.0,5.0,5.0,1.0,5.0,4.0,4.0,1.000000,...,3.0,5.0,3.0,1.0,27.0,80.0,5.0,masters degree,5,183.0
1007,5.000000,4.0,5.0,3.0,3.0,4.0,3.0,4.0,2.0,4.000000,...,2.0,4.0,1.0,2.0,18.0,75.0,0.0,secondary school,2,173.0
1008,5.000000,5.0,4.0,5.0,3.0,5.0,4.0,5.0,3.0,4.000000,...,3.0,3.0,3.0,3.0,25.0,58.0,1.0,college/bachelor degree,3,173.0
1009,2.000000,5.0,3.0,5.0,4.0,4.0,4.0,5.0,3.0,1.000000,...,3.0,4.0,5.0,1.0,21.0,72.0,1.0,secondary school,1,185.0

In [87]:
#Let's make sure our types are all numerical
df['Education'].unique()
degrees = {
    'college/bachelor degree' :1,
    'secondary school': 2,
    'primary school' : 3,
    'masters degree' : 4,
    'currently a primary school pupil': 3,
    'doctorate degree': 5,
}
features['Education'] = df['Education'].map(degrees)
features['Education'] = features['Education'].fillna(features['Education'].mean())
features['Happiness in life'] = df['Happiness in life'].dropna()


features2 = df.fillna(df.mean())
df['Alcohol']

0          drink a lot
1          drink a lot
2          drink a lot
3          drink a lot
4       social drinker
5                never
6       social drinker
7          drink a lot
8       social drinker
9          drink a lot
10      social drinker
11               never
12      social drinker
13      social drinker
14      social drinker
15      social drinker
16         drink a lot
17      social drinker
18      social drinker
19         drink a lot
20               never
21      social drinker
22      social drinker
23      social drinker
24               never
25      social drinker
26      social drinker
27      social drinker
28      social drinker
29      social drinker
             ...
980        drink a lot
981     social drinker
982        drink a lot
983     social drinker
984        drink a lot
985     social drinker
986     social drinker
987        drink a lot
988        drink a lot
989        drink a lot
990     social drinker
991     social drinker
992              never
993     social drinker
994        drink a lot
995              never
996     social drinker
997     social drinker
998     social drinker
999     social drinker
1000             never
1001             never
1002    social drinker
1003    social drinker
1004    social drinker
1005       drink a lot
1006    social drinker
1007    social drinker
1008    social drinker
1009    social drinker
Name: Alcohol, Length: 1010, dtype: object

In [88]:
features.to_csv('cleaned_features.csv')

In [89]:
df.columns

Index(['Music', 'Slow songs or fast songs', 'Dance', 'Folk', 'Country',
       'Classical music', 'Musical', 'Pop', 'Rock', 'Metal or Hardrock',
       ...
       'Age', 'Height', 'Weight', 'Number of siblings', 'Gender',
       'Left - right handed', 'Education', 'Only child', 'Village - town',
       'House - block of flats'],
      dtype='object', length=150)